.landing { display: flex; flex-direction: column; align-items: center; gap: var(--space-xxl); justify-content: center; height: 100dvh; }
.banner { position: fixed; z-index: -1; top: 0; width: 100%; max-width: 768px; }
.tagline h1 { font-weight: 100; font-size: 32px; }
#chat-view { display: flex; flex-direction: column; align-items: center; height: 100dvh; padding-bottom: var(--space-lg); }
#chat-messages { flex: 1; width: 100%; max-width: 768px; overflow-y: auto; padding: var(--space-lg) var(--space-xl) 0 var(--space-xl); display: flex; flex-direction: column; scrollbar-width: none; }
#chat-messages::-webkit-scrollbar { display: none; }
#conversation { display: flex; flex-direction: column; width: 100%; }